.login-register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  
  .register-login-switcher {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px 0;
    display: grid;
    justify-content: center;

    a {
      display: flex;
      justify-content: center;
      text-decoration: none;
    }

    button {
      cursor: pointer;
      border: none;
      padding: 0 32px;
      text-shadow: none;
      box-shadow: none;
      color: #fff;
      font-weight: 600;
      height: 36px;
      overflow: hidden;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      background-color: #1877f2;
    }

  }
}

.noteDetails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  
  .note {
    position: relative;
    background-color: #57C4B5;
    flex: 4;
    padding: 0 10px;
    .backButton-container {
      margin-bottom: 30px;
      .backButton {
        text-decoration: none;
          background-color: #5F8580;
          color: #fff;
          padding: 0 10px;
          position: absolute;
          left: 0;
      }
    }
  }
}

.all-notes-container {
  background-color: #5F8580;
  padding: 10px;
  height: 100vh;
  .hr {
    border: 1px solid #fff;
  }

  .add-note-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .add-note-icon {
    font-size: 30px;
    color: #000;
  }
}

.all-notes {
  background-color: #5F8580;
  flex: 1;
  font-size: 12px;
  h2 {
    margin: 0;
    padding: 0 10px;
    font-size: 12px;
  }

  p {
    margin: 0;
    padding: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .hr {
    border: 1px solid #57C4B5;
  }
}

.inputPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.inputField {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  font-size: 18px;
  border: none;
  outline: none;
  resize: none;
  text-align: left;
}


